main{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sideber{
  width: 20%;
  height: 100%;
  padding-top: 20px;
  background-color: #e67e22;
  a{
    display: block;
    text-align: center;
    font-weight: bold;
    color: #ecf0f1;
    margin-bottom: 15px; 
    transition: 0.2s;
    &:hover{
      color: white;
    }
  }
}

.contents{
  width: 80%;
  min-width: 300px;
  height: 100%;
  background: #ecf0f1;
  overflow-y: scroll;
}

.todos{
  width: 50%;
  height: 100%;
  margin: 50px;

  .todo{
    width: 80%;
    min-width: 300px;
    height: 100px;
    margin: 0 auto 30px;
    background-color:  white;
    display: flex;
    box-shadow:2px 2px 6px 1px #7f8c8d;
    border-radius: 5px;
    transition: 0.2s;
    &:hover{
      opacity: 0.8;
      width: 82%;
    }
    &__main{
      width: 90%;
      height: 100%;
      padding: 20px 20px 5px;
      cursor: pointer;
      &__name{
      height: 80%;
        font-size: 20px;
        font-weight: bold;
        color: #e67e22;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        i{
          font-size: 18px;
          color: #e67e22;
        }
      }
      &__deadline{
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        &__day{
          padding-right:20px; 
        }
      }
    }
    &__cheak{
      width: 20%;
      height: 100%;
      background: #e67e22;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 5px 5px 0;
      &__icon{
        font-size: 30px;
        color: #ecf0f1;
        cursor: pointer;
      }
    }
  }
}
