.todo
  =link_to edit_todo_path(todo), class: "todo__main" do
    %p.todo__main__name    
      =todo.name
    .todo__main__deadline
      :ruby
        remain = (todo.deadline - Date.today).to_i
      -if remain >= 0
        .todo__main__deadline__day
          ="#{todo.deadline.strftime("%m月%d日")}まで"
        .todo__main__deadline__left
          ="あと#{remain}日"
      - else
        .todo__main__deadline__day
          ="#{todo.deadline.strftime("%m月%d日")}から"
        .todo__main__deadline__left
          ="#{remain.abs}日経過"
    -if todo.status == 1
      =image_tag("neko-tassei.png", class: "complete")
    -else 
      =image_tag("neko-tassei.png", class: "complete hide")
  .todo__check
    .todo__check__icon
      -if todo.status == 0
        =fa_icon "square-o", "data-id": todo.id, class: "check-box"
      -else
        =fa_icon "check-square-o", "data-id": todo.id, class: "checked-box"
